body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form{
  position: fixed;
  left: 15%;
}

.formFields{
  display: flex;
  width: 800px;
}

.formFields > div{
  padding-right: 20px;
  width: 180%;
}

.customSelect{
  width: 150px;
  height: 40px;
  border-radius: 5px;
}
.customSelect-details{
  width: 250px;
  height: 40px;
  border-radius: 5px;
}

.customSelect-allocate{
  width: 250px;
  height: 30px;
  border-radius: 5px;
}

.selectAllocate-div{
  padding: 30px;
  display: flex;
}

.btnAlloc{
  width: 90px;
  height: 35px;
  background-color: darkseagreen;
  margin-left: 30px;
  border-radius: 6px;
  border-color: transparent;
}

.btnDAlloc{
  width: 90px;
  height: 35px;
  background-color: coral;
  margin-left: 30px;
  border-radius: 6px;
  border-color: transparent;
}

.btnUpdate{
  width: 70px;
  height: 40px;
  background-color: rgb(220, 74, 103);
  margin-left: 30px;
  border-radius: 6px;
  border-color: black;
}

.allocHeader{
  padding-left: 30px;
  padding-top: 15px;
}

.btnGroup{
  padding: 15px;
  display: flex;
}

.btnGroup > div{
  padding-right: 20px;
}